{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  justice - judikatura prototyp
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <header class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Vyhledat rozhodnutí a judikaturu vrchních, krajských a okresních soudů
    </h1>
  </header>
</div>

<div class="msp-filter-layout">
  <div class="msp-filter-layout__filter">
    <div class="msp-filter" id="msp-filter" tabindex="-1">
      <div class="msp-filter__header">
        <div class="msp-filter__header-title">
          <h2 class="govuk-heading-s">Filtrovat rozhodnutí</h2>
        </div>

        <div class="msp-filter__header-action">
          <button class="msp-filter__close" type="button">Zavřít</button>
        </div>

      </div>
      <div class="msp-filter__content">
        <div class="msp-filter__selected">
          <div class="msp-filter__selected-heading">
            <div class="msp-filter__heading-title">
              <h2 class="govuk-heading-m">Vybrané filtry</h2>
            </div>

            <div class="msp-filter__heading-action">
              <p><a class="govuk-link govuk-link--no-visited-state" href="">Vymazat filtry</a></p>
            </div>
          </div>

          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Soud</h3>
          <ul class="msp-filter-tags">
            <li><a class="msp-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Odstranit tento filtr</span> Městský soud v Praze</a></li>
            <li><a class="msp-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Odstranit tento filtr</span> Městský soud v Praze</a></li>
          </ul>

          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Úsek soudu</h3>
          <ul class="msp-filter-tags">
            <li><a class="msp-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Odstranit tento filtr</span> Civilní úsek</a></li>
          </ul>
        </div>

        <div class="msp-filter__options">
          <button type="submit" class="govuk-button">
            Použít filtry
          </button>

          {% from "checkboxes/macro.njk" import govukCheckboxes %}

          {{ govukCheckboxes({
            "name": "judikatury",
            "items": [
              {
                "value": "pravni-veta",
                "text": "Pouze rozhodnutí s právní větou"
              },
              {
                "value": "evropska-smernice",
                "text": "Pouze rozhodnutí s evropskou směrnicí"
              }
            ]
          }) }}

          <div class="app-c-option-select js-collapsible js-closed">
            <button class="js-container-head app-c-option-select__title app-c-option-select__button" type="button" aria-expanded="false" id="option-select-title-organisation" aria-controls="organisations">Soud
              <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--up">
                  <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z"></path>
              </svg>
              <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--down">
                  <path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z"></path>
              </svg>
            </button>

            <div class="app-c-option-select__filter">
              <label for="input-6e89931e" class="govuk-label govuk-visually-hidden">
                Filtrování soudů
              </label>
              <input name="option-select-filter" id="input-6e89931e" class="app-c-option-select__filter-input govuk-input" type="text" aria-describedby="checkboxes-147254d1-count" aria-controls="checkboxes-147254d1">
            </div>

            <div role="group" aria-labelledby="option-select-title-organisation" class="app-c-option-select__container js-options-container" id="organisations" tabindex="-1">
              <div class="app-c-option-select__container-inner js-auto-height-inner">
                <span id="checkboxes-147254d1-count" class="app-c-option-select__count govuk-visually-hidden" aria-live="polite" data-single="option found" data-multiple="options found" data-selected="selected"></span>

                <div id="checkboxes-147254d1" class="gem-c-checkboxes govuk-form-group" data-module="checkboxes">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Soudci</legend>
                    <ul class="govuk-checkboxes gem-c-checkboxes__list govuk-checkboxes--small">
                      <li class="govuk-checkboxes__item">
                       <input type="checkbox" name="organisations[]" id="organisations-mestsky-soud-praha" value="mestsky-soud-praha" class="govuk-checkboxes__input">
                        <label for="organisations-mestsky-soud-praha" class="govuk-label govuk-checkboxes__label">Městský soud v Praze</label>
                      </li>
                      
                      <li class="govuk-checkboxes__item">
                        <input type="checkbox" name="organisations[]" id="organisations-krajsky-soud-brno" value="krajsky-soud-brno" class="govuk-checkboxes__input">
                        <label for="organisations-krajsky-soud-brno" class="govuk-label govuk-checkboxes__label">Krajský soud v Brně</label>
                      </li>

                      <li class="govuk-checkboxes__item">
                        <input type="checkbox" name="organisations[]" id="organisations-krajsky-soud-ceskebudjovice" value="krajsky-soud-ceskebudjovice" class="govuk-checkboxes__input">
                        <label for="organisations-krajsky-soud-ceskebudjovice" class="govuk-label govuk-checkboxes__label">Krajský soud v Českých Budějovicích</label>
                      </li>

                      <li class="govuk-checkboxes__item">
                        <input type="checkbox" name="organisations[]" id="organisations-krajsky-soud-hradeckralove" value="krajsky-soud-hradeckralove" class="govuk-checkboxes__input">
                        <label for="organisations-krajsky-soud-hradeckralove" class="govuk-label govuk-checkboxes__label">Krajský soud v Hradci Králové</label>
                      </li>

                      <li class="govuk-checkboxes__item">
                        <input type="checkbox" name="organisations[]" id="organisations-krajsky-soud-ostrava" value="krajsky-soud-ostrava" class="govuk-checkboxes__input">
                        <label for="organisations-krajsky-soud-ostrava" class="govuk-label govuk-checkboxes__label">Krajský soud v Ostravě</label>
                      </li>
                    </ul>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>

          <div class="app-c-option-select js-collapsible js-closed">
            <button class="js-container-head app-c-option-select__title app-c-option-select__button" type="button" aria-expanded="false" id="option-select-title-judge" aria-controls="organisations">Soudce
              <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--up">
                  <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z"></path>
              </svg>
              <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--down">
                  <path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z"></path>
              </svg>
            </button>

            <div class="app-c-option-select__filter">
              <label for="input-6e89931e" class="govuk-label govuk-visually-hidden">
                Filtrování soudců
              </label>
              <input name="option-select-filter" id="input-6e89931e" class="app-c-option-select__filter-input govuk-input" type="text" aria-describedby="checkboxes-147254d1-count" aria-controls="checkboxes-147254d1">
            </div>

            <div role="group" aria-labelledby="option-select-title-judge" class="app-c-option-select__container js-options-container" id="judges" tabindex="-1">
              <div class="app-c-option-select__container-inner js-auto-height-inner">
                <span id="checkboxes-147254d1-count" class="app-c-option-select__count govuk-visually-hidden" aria-live="polite" data-single="option found" data-multiple="options found" data-selected="selected"></span>

                <div id="checkboxes-147254d1" class="gem-c-checkboxes govuk-form-group" data-module="checkboxes">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Soudci</legend>
                    <ul class="govuk-checkboxes gem-c-checkboxes__list govuk-checkboxes--small">
                      <li class="govuk-checkboxes__item">
                       <input type="checkbox" name="judges[]" id="judges-jan-novak" value="jan-novak" class="govuk-checkboxes__input">
                        <label for="judges-jan-novak" class="govuk-label govuk-checkboxes__label">Jan Novák</label>
                      </li>

                      <li class="govuk-checkboxes__item">
                        <input type="checkbox" name="judges[]" id="judges-jan-novak" value="jan-novak" class="govuk-checkboxes__input">
                        <label for="judges-jan-novak" class="govuk-label govuk-checkboxes__label">Jan Novák</label>
                      </li>

                      <li class="govuk-checkboxes__item">
                        <input type="checkbox" name="judges[]" id="judges-jan-novak" value="jan-novak" class="govuk-checkboxes__input">
                        <label for="judges-jan-novak" class="govuk-label govuk-checkboxes__label">Jan Novák</label>
                      </li>

                      <li class="govuk-checkboxes__item">
                        <input type="checkbox" name="judges[]" id="judges-jan-novak" value="jan-novak" class="govuk-checkboxes__input">
                        <label for="judges-jan-novak" class="govuk-label govuk-checkboxes__label">Jan Novák</label>
                      </li>

                      <li class="govuk-checkboxes__item">
                        <input type="checkbox" name="judges[]" id="judges-jan-novak" value="jan-novak" class="govuk-checkboxes__input">
                        <label for="judges-jan-novak" class="govuk-label govuk-checkboxes__label">Jan Novák</label>
                      </li>
                    </ul>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="keywords">
              Spisová značka nebo <abbr title="Identifikator evrposke judikatury">ECLI</abbr>
            </label>

            <input class="govuk-input app-c-option-select__filter-input" id="keywords" name="keywords" type="text">
          </div>


          {% from "date-input/macro.njk" import govukDateInput %}

          {{ govukDateInput({
            id: "dob",
            namePrefix: "dob",
            fieldset: {
              legend: {
                text: "Datum rozhodnutí od a do",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "Například, 2005 nebo 21.03.2005"
            },
            items: [
              {
                name: "Od",
                classes: "govuk-input--width-4",
                autocomplete: "bday-year"
              },
              {
                name: "Do",
                classes: "govuk-input--width-4",
                autocomplete: "bday-year"
              }
            ]
          }) }}

          {% from "date-input/macro.njk" import govukDateInput %}

          {{ govukDateInput({
            id: "dob",
            namePrefix: "dob",
            fieldset: {
              legend: {
                text: "Datum vydání od a do",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "Například, 2005 nebo 21.03.2005"
            },
            items: [
              {
                name: "Od",
                classes: "govuk-input--width-4",
                autocomplete: "bday-year"
              },
              {
                name: "Do",
                classes: "govuk-input--width-4",
                autocomplete: "bday-year"
              }
            ]
          }) }}

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="keywords">
              Text rozhodnutí nebo právní věta
            </label>
            <input class="govuk-input app-c-option-select__filter-input" id="keywords" name="keywords" type="text">
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Forma rozhodnutí
              </legend>
              <div class="govuk-radios govuk-radios--small">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="judgement-sentence" name="sentence-decision" type="radio" value="jsen">
                  <label class="govuk-label govuk-radios__label" for="judgement-sentence">
                    Rozsudek
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="judgement-decision" name="sentence-decision" type="radio" value="jdec">
                  <label class="govuk-label govuk-radios__label" for="judgement-decision">
                    Usnesení
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Úsek soudu
              </legend>
              <div class="govuk-radios govuk-radios--small">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-civil" name="civil-criminal" type="radio" value="tciv" checked>
                  <label class="govuk-label govuk-radios__label" for="type-civil">
                    Civilní úsek
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-criminal" name="civil-criminal" type="radio" value="tcrim">
                  <label class="govuk-label govuk-radios__label" for="type-criminal">
                    Trestní úsek
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="app-c-option-select js-collapsible js-closed">
            <button class="js-container-head app-c-option-select__title app-c-option-select__button" type="button" aria-expanded="false" id="option-select-title-keyword" aria-controls="organisations">Hesla
              <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--up">
                  <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z"></path>
              </svg>
              <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--down">
                  <path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z"></path>
              </svg>
            </button>

            <div class="app-c-option-select__filter">
              <label for="input-6e89931e" class="govuk-label govuk-visually-hidden">
                Filtrování hesel
              </label>
              <input name="option-select-filter" id="input-6e89931e" class="app-c-option-select__filter-input govuk-input" type="text" aria-describedby="checkboxes-147254d1-count" aria-controls="checkboxes-147254d1">
            </div>

            <div role="group" aria-labelledby="option-select-title-keyword" class="app-c-option-select__container js-options-container" id="keywords" tabindex="-1">
              <div class="app-c-option-select__container-inner js-auto-height-inner">
                <span id="checkboxes-147254d1-count" class="app-c-option-select__count govuk-visually-hidden" aria-live="polite" data-single="option found" data-multiple="options found" data-selected="selected"></span>

                <div id="checkboxes-147254d1" class="gem-c-checkboxes govuk-form-group" data-module="checkboxes">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Hesla</legend>
                    <ul class="govuk-checkboxes gem-c-checkboxes__list govuk-checkboxes--small">
                      <li class="govuk-checkboxes__item">
                       <input type="checkbox" name="keywords[]" id="keywords-abolice" value="abolice" class="govuk-checkboxes__input">
                        <label for="keywords-abolice" class="govuk-label govuk-checkboxes__label">Abolice</label>
                      </li>

                      <li class="govuk-checkboxes__item">
                        <input type="checkbox" name="keywords[]" id="keywords-absolutni-majetkova-prava" value="absolutni-majetkova-prava" class="govuk-checkboxes__input">
                        <label for="keywords-absolutni-majetkova-prava" class="govuk-label govuk-checkboxes__label">Aboslutní majetková práva (o.z.)</label>
                      </li>

                      <li class="govuk-checkboxes__item">
                        <input type="checkbox" name="keywords[]" id="keywords-actio-libera-in-causa" value="actio-libera-in-causa" class="govuk-checkboxes__input">
                        <label for="keywords-actio-libera-in-causa" class="govuk-label govuk-checkboxes__label">Actio libera in causa</label>
                      </li>

                      <li class="govuk-checkboxes__item">
                        <input type="checkbox" name="keywords[]" id="keywords-adhezni-rizeni" value="adhezni-rizeni" class="govuk-checkboxes__input">
                        <label for="keywords-adhezni-rizeni" class="govuk-label govuk-checkboxes__label">Adhezní řízení</label>
                      </li>

                      <li class="govuk-checkboxes__item">
                        <input type="checkbox" name="keywords[]" id="keywords-adopce" value="adopce" class="govuk-checkboxes__input">
                        <label for="keywords-adopce" class="govuk-label govuk-checkboxes__label">Adopce</label>
                      </li>
                    </ul>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Dotčené předpisy
              </legend>
              {% from "radios/macro.njk" import govukRadios %}

              {{ govukRadios({
                "idPrefix": "instruments",
                "name": "instruments",
                "formGroup": {
                  "classes": "govuk-radios--small"
                },
                "items": [
                  {
                    "value": "sb",
                    "text": "Sbírka",
                    "conditional": {
                      "html": "<label class=\"govuk-label\" for=\"sb-article\">Článek</label>\n<input class=\"govuk-input govuk-!-width-one-third\" name=\"sb-article\" type=\"text\" id=\"sb-article\">\n<label class=\"govuk-label\" for=\"sb-section\">Paragraf §</label>\n<input class=\"govuk-input govuk-!-width-one-third\" name=\"sb-section\" type=\"text\" id=\"sb-section\">\n<label class=\"govuk-label\" for=\"sb-subsection\">Odstavec</label>\n<input class=\"govuk-input govuk-!-width-one-third\" name=\"sb-subsection\" type=\"text\" id=\"sb-subsection\">\n<label class=\"govuk-label\" for=\"sb-number\">Číslo předpisu</label>\n<input class=\"govuk-input govuk-!-width-one-third\" name=\"sb-number\" type=\"text\" id=\"sb-number\">\n<label class=\"govuk-label\" for=\"sb-year\">Rok Sbírky</label>\n<input class=\"govuk-input govuk-!-width-one-third\" name=\"sb-year\" type=\"text\" id=\"sb-year\">\n"
                    }
                  },
                  {
                    "value": "sbms",
                    "text": "Sbírka mezinárodních smluv",
                    "conditional": {
                      "html": "<label class=\"govuk-label\" for=\"sbms-article\">Článek</label>\n<input class=\"govuk-input govuk-!-width-one-third\" name=\"sbms-article\" type=\"text\" id=\"sbms-article\">\n<label class=\"govuk-label\" for=\"sbms-section\">Odstavec</label>\n<input class=\"govuk-input govuk-!-width-one-third\" name=\"sbms-section\" type=\"text\" id=\"sbms-section\">\n<label class=\"govuk-label\" for=\"sbms-section\">Úmluva</label>\n<input class=\"govuk-input govuk-!-width-one-third\" name=\"sbms-email\" type=\"text\" id=\"sbms-email\">\n<label class=\"govuk-label\" for=\"sbms-email\" aria-label=\"Sbírky mezinárodních smluv\">Rok Sb.ms.</label>\n<input class=\"govuk-input govuk-!-width-one-third\" name=\"sbms-email\" type=\"text\" id=\"sbms-email\">\n"
                    }
                  },
                  {
                    "value": "neu",
                    "text": "Nařízení EU",
                    "conditional": {
                      "html": "<label class=\"govuk-label\" for=\"neu-article\">Článek</label>\n<input class=\"govuk-input govuk-!-width-one-third\" name=\"neu-article\" type=\"text\" id=\"neu-article\">\n<label class=\"govuk-label\" for=\"neu-section\">Odstavec</label>\n<input class=\"govuk-input govuk-!-width-one-third\" name=\"neu-section\" type=\"text\" id=\"neu-section\">\n<label class=\"govuk-label\" for=\"neu-number\">Nařízení číslo</label>\n<input class=\"govuk-input govuk-!-width-one-third\" name=\"neu-number\" type=\"text\" id=\"neu-number\">\n<label class=\"govuk-label\" for=\"neu-year\">Rok Nařízení EU</label>\n<input class=\"govuk-input govuk-!-width-one-third\" name=\"neu-year\" type=\"text\" id=\"neu-year\">\n"
                    }
                  },
                  {
                    "value": "seu",
                    "text": "Směrnice EU",
                    "conditional": {
                      "html": "<label class=\"govuk-label\" for=\"seu-article\">Článek</label>\n<input class=\"govuk-input govuk-!-width-one-third\" name=\"seu-article\" type=\"text\" id=\"seu-article\">\n<label class=\"govuk-label\" for=\"seu-section\">Odstavec</label>\n<input class=\"govuk-input govuk-!-width-one-third\" name=\"seu-section\" type=\"text\" id=\"seu-section\">\n<label class=\"govuk-label\" for=\"seu-directive\">Směrnice</label>\n<input class=\"govuk-input govuk-!-width-one-third\" name=\"seu-directive\" type=\"text\" id=\"seu-directive\">\n<label class=\"govuk-label\" for=\"seu-year\">Rok Směrnice EU</label>\n<input class=\"govuk-input govuk-!-width-one-third\" name=\"seu-year\" type=\"text\" id=\"seu-year\">\n"
                    }
                  }
                ]
              }) }}
            </fieldset>
          </div>          
        </div>
      </div>
    </div>

  </div>

  <div class="msp-filter-layout__content">
    <div class="msp-action-bar">
      <div class="msp-action-bar__filter">
        <button class="govuk-button msp-button--secondary btn-apply-filter" type="button" aria-haspopup="true" aria-expanded="false">Zavřít filtr</button>
      </div>

      <div class="">
        <h2 class="govuk-heading-s">Celkový počet rozhodnutí: 3000</h2>
      </div>
    </div>

    <hr>

    <div id="js-sort-options">
      <div class="govuk-form-group">
        <label for="order" class="result-region-header__sort-label govuk-label">Seřadit podle</label>
        <select class="js-order-results govuk-select" name="order" id="order" aria-controls="js-search-results-info">
            <option value="updated-newest" data-track-category="dropDownClicked" data-track-action="clicked" data-track-label="Updated (newest)">Aktualizováno (nejnovější)</option>
            <option value="updated-oldest" data-track-category="dropDownClicked" data-track-action="clicked" data-track-label="Updated (oldest)">Aktualizováno (nejstarší)</option>
        </select>
      </div>
    </div>
    
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="ascending">
              <button type="button" data-index="0">Spisová značka</button>
          </th>
          <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none">
              <button type="button" data-index="1">Soud</button>
          </th>
          <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none">
              <button type="button" data-index="2">Soudce</button>
          </th>
          <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none">
              <button type="button" data-index="2">Datum rozhodnutí</button>
          </th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body-s"><a href="/court-case"><span class="govuk-visually-hidden">Přejít na rozsudek spisové značky </span>53 Cm 36/2001</a></td>
          <td class="govuk-table__cell govuk-body-s">Městský soud v Praze</td>
          <td class="govuk-table__cell govuk-body-s">Jan Novák</td>
          <td class="govuk-table__cell govuk-body-s">9. července 2019</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body-s"><a href="/court-case"><span class="govuk-visually-hidden">Přejít na rozsudek spisové značky </span>53 Cm 36/2001</a></td>
          <td class="govuk-table__cell govuk-body-s">Městský soud v Praze</td>
          <td class="govuk-table__cell govuk-body-s">Jan Novák</td>
          <td class="govuk-table__cell govuk-body-s">9. července 2019</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body-s"><a href="/court-case"><span class="govuk-visually-hidden">Přejít na rozsudek spisové značky </span>53 Cm 36/2001</a></td>
          <td class="govuk-table__cell govuk-body-s">Městský soud v Praze</td>
          <td class="govuk-table__cell govuk-body-s">Jan Novák</td>
          <td class="govuk-table__cell govuk-body-s">9. července 2019</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body-s"><a href="/court-case"><span class="govuk-visually-hidden">Přejít na rozsudek spisové značky </span>53 Cm 36/2001</a></td>
          <td class="govuk-table__cell govuk-body-s">Městský soud v Praze</td>
          <td class="govuk-table__cell govuk-body-s">Jan Novák</td>
          <td class="govuk-table__cell govuk-body-s">9. července 2019</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body-s"><a href="/court-case"><span class="govuk-visually-hidden">Přejít na rozsudek spisové značky </span>53 Cm 36/2001</a></td>
          <td class="govuk-table__cell govuk-body-s">Městský soud v Praze</td>
          <td class="govuk-table__cell govuk-body-s">Jan Novák</td>
          <td class="govuk-table__cell govuk-body-s">9. července 2019</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body-s"><a href="/court-case"><span class="govuk-visually-hidden">Přejít na rozsudek spisové značky </span>53 Cm 36/2001</a></td>
          <td class="govuk-table__cell govuk-body-s">Městský soud v Praze</td>
          <td class="govuk-table__cell govuk-body-s">Jan Novák</td>
          <td class="govuk-table__cell govuk-body-s">9. července 2019</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body-s"><a href="/court-case"><span class="govuk-visually-hidden">Přejít na rozsudek spisové značky </span>53 Cm 36/2001</a></td>
          <td class="govuk-table__cell govuk-body-s">Městský soud v Praze</td>
          <td class="govuk-table__cell govuk-body-s">Jan Novák</td>
          <td class="govuk-table__cell govuk-body-s">9. července 2019</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body-s"><a href="/court-case"><span class="govuk-visually-hidden">Přejít na rozsudek spisové značky </span>53 Cm 36/2001</a></td>
          <td class="govuk-table__cell govuk-body-s">Městský soud v Praze</td>
          <td class="govuk-table__cell govuk-body-s">Jan Novák</td>
          <td class="govuk-table__cell govuk-body-s">9. července 2019</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body-s"><a href="/court-case"><span class="govuk-visually-hidden">Přejít na rozsudek spisové značky </span>53 Cm 36/2001</a></td>
          <td class="govuk-table__cell govuk-body-s">Městský soud v Praze</td>
          <td class="govuk-table__cell govuk-body-s">Jan Novák</td>
          <td class="govuk-table__cell govuk-body-s">9. července 2019</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body-s"><a href="/court-case"><span class="govuk-visually-hidden">Přejít na rozsudek spisové značky </span>53 Cm 36/2001</a></td>
          <td class="govuk-table__cell govuk-body-s">Městský soud v Praze</td>
          <td class="govuk-table__cell govuk-body-s">Jan Novák</td>
          <td class="govuk-table__cell govuk-body-s">9. července 2019</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body-s"><a href="/court-case"><span class="govuk-visually-hidden">Přejít na rozsudek spisové značky </span>53 Cm 36/2001</a></td>
          <td class="govuk-table__cell govuk-body-s">Městský soud v Praze</td>
          <td class="govuk-table__cell govuk-body-s">Jan Novák</td>
          <td class="govuk-table__cell govuk-body-s">9. července 2019</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body-s"><a href="/court-case"><span class="govuk-visually-hidden">Přejít na rozsudek spisové značky </span>53 Cm 36/2001</a></td>
          <td class="govuk-table__cell govuk-body-s">Městský soud v Praze</td>
          <td class="govuk-table__cell govuk-body-s">Jan Novák</td>
          <td class="govuk-table__cell govuk-body-s">9. července 2019</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body-s"><a href="/court-case"><span class="govuk-visually-hidden">Přejít na rozsudek spisové značky </span>53 Cm 36/2001</a></td>
          <td class="govuk-table__cell govuk-body-s">Městský soud v Praze</td>
          <td class="govuk-table__cell govuk-body-s">Jan Novák</td>
          <td class="govuk-table__cell govuk-body-s">9. července 2019</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body-s"><a href="/court-case"><span class="govuk-visually-hidden">Přejít na rozsudek spisové značky </span>53 Cm 36/2001</a></td>
          <td class="govuk-table__cell govuk-body-s">Městský soud v Praze</td>
          <td class="govuk-table__cell govuk-body-s">Jan Novák</td>
          <td class="govuk-table__cell govuk-body-s">9. července 2019</td>
        </tr>
      </tbody>
    </table>
    <div aria-live="polite" role="status" aria-atomic="true" class="govuk-visually-hidden">Seřazeno podle Spisové značky (sestupně)</div>

    <div class="app-back-to-top govuk-!-padding-bottom-3" data-module="app-back-to-top">
      <a href="#top">
        <svg class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
          <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
        </svg>Zpátky nahoru
      </a>
    </div>

    <nav class="msp-pagination" id="pagination-label">
      <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Navigace stránkování</p>
      <ul class="msp-pagination__list">
          <li class="msp-pagination__item  msp-pagination__item--prev">
              <a class="msp-pagination__link" href="">Předchozí<span class="govuk-visually-hidden"> stránka s rozhodnutími</span></a>
          </li>
          <li class="msp-pagination__item"><a class="msp-pagination__link" href="/page=1">1</a></li>
          <li class="msp-pagination__item msp-pagination__item--dots">...</li>
          <li class="msp-pagination__item"><a class="msp-pagination__link" href="/page=5">5</a></li>
          <li class="msp-pagination__item msp-pagination__item--active">6</li>
          <li class="msp-pagination__item"><a class="msp-pagination__link" href="/page=7">7</a></li>
          <li class="msp-pagination__item msp-pagination__item--dots">...</li>
          <li class="msp-pagination__item"><a class="msp-pagination__link" href="/page=10">10</a></li>
          <li class="msp-pagination__item  msp-pagination__item--next">
              <a class="msp-pagination__link" href="">Další<span class="govuk-visually-hidden"> stránka s rozhodnutími</span></a>
          </li>
      </ul>
      <p class="msp-pagination__results">Zobrazeno <b>30</b> až <b>45</b> ze <b>3000</b> rozhodnutí</p>
    </nav>

  </div>
</div> 

{% endblock %}

{% block pageScripts %}
  {% include './script.html' %}
{% endblock %}

<script>window.GOVUKFrontend.initAll()</script>
<script>new HMCTSFrontend.SortableTable({ table: $('table')[0] });</script>