{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  justice - judikatura prototyp
{% endblock %}

{% block beforeContent %}
  {% from "back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
    "href": "/"
  }) }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">
  Vyhledat rozhodnutí a judikaturu nejvyšších a krajských soudů v2
</h1>

<div class="hmcts-filter-layout">
  <div class="hmcts-filter-layout__filter">
    <div class="hmcts-filter" id="hmcts-filter" tabindex="-1">
      <div class="hmcts-filter__header">
        <div class="hmcts-filter__header-title">
          <h2 class="govuk-heading-m">Filtr</h2>
        </div>

        <div class="hmcts-filter__header-action">
          <button class="hmcts-filter__close" type="button">Zavřít</button>
        </div>

      </div>
      <div class="hmcts-filter__content">
        <div class="hmcts-filter__selected">
          <div class="hmcts-filter__selected-heading">
            <div class="hmcts-filter__heading-title">
              <h2 class="govuk-heading-m">Vybrané filtry</h2>
            </div>

            <div class="hmcts-filter__heading-action">
              <p><a class="govuk-link govuk-link--no-visited-state" href="">Vymazat filtry</a></p>
            </div>
          </div>

          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Kategorie rozhodnutí</h3>
          <ul class="hmcts-filter-tags">
            <li><a class="hmcts-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Odstranit tento filtr</span> A</a></li>
            <li><a class="hmcts-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Odstranit tento filtr</span> B</a></li>
          </ul>

          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Úsek soudu</h3>
          <ul class="hmcts-filter-tags">
            <li><a class="hmcts-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Odstranit tento filtr</span> Civilní úsek</a></li>
          </ul>
        </div>

        <div class="hmcts-filter__options">
          <button type="submit" class="govuk-button">
            Použít filtry
          </button>

          <div class="app-c-option-select js-collapsible js-closed">
            <button class="js-container-head app-c-option-select__title app-c-option-select__button" type="button" aria-expanded="false" id="option-select-title-organisation" aria-controls="organisations">Soud
              <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--up">
                  <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z"></path>
              </svg>
              <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--down">
                  <path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z"></path>
              </svg>
            </button>

            <div class="app-c-option-select__filter">
              <label for="input-6e89931e" class="govuk-label govuk-visually-hidden">
                Filtrování soudů
              </label>
              <input name="option-select-filter" id="input-6e89931e" class="app-c-option-select__filter-input govuk-input" type="text" aria-describedby="checkboxes-147254d1-count" aria-controls="checkboxes-147254d1">
            </div>

            <div role="group" aria-labelledby="option-select-title-organisation" class="app-c-option-select__container js-options-container" id="organisations" tabindex="-1">
              <div class="app-c-option-select__container-inner js-auto-height-inner">
                <span id="checkboxes-147254d1-count" class="app-c-option-select__count govuk-visually-hidden" aria-live="polite" data-single="option found" data-multiple="options found" data-selected="selected"></span>

                <div id="checkboxes-147254d1" class="gem-c-checkboxes govuk-form-group" data-module="checkboxes">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Soudyc</legend>
                    <ul class="govuk-checkboxes gem-c-checkboxes__list govuk-checkboxes--small">
                      <li class="govuk-checkboxes__item">
                       <input type="checkbox" name="organisations[]" id="organisations-academy-for-social-justice" value="academy-for-social-justice" class="govuk-checkboxes__input" data-track-category="filterClicked" data-uncheck-track-category="filterRemoved" data-track-action="Organisation" data-track-label="Academy for Social Justice" data-controls="js-search-results-info" aria-controls="js-search-results-info">
                        <label for="organisations-academy-for-social-justice" class="govuk-label govuk-checkboxes__label">Městský soud v Praze</label>
                      </li>
                      
                      <li class="govuk-checkboxes__item">
                        <input type="checkbox" name="organisations[]" id="organisations-accelerated-access-review" value="accelerated-access-review" class="govuk-checkboxes__input" data-track-category="filterClicked" data-uncheck-track-category="filterRemoved" data-track-action="Organisation" data-track-label="Accelerated Access Review (AAR)" data-controls="js-search-results-info" aria-controls="js-search-results-info">
                        <label for="organisations-accelerated-access-review" class="govuk-label govuk-checkboxes__label">Městský soud v Praze</label>
                      </li>

                      <li class="govuk-checkboxes__item">
                        <input type="checkbox" name="organisations[]" id="organisations-accelerated-access-review" value="accelerated-access-review" class="govuk-checkboxes__input" data-track-category="filterClicked" data-uncheck-track-category="filterRemoved" data-track-action="Organisation" data-track-label="Accelerated Access Review (AAR)" data-controls="js-search-results-info" aria-controls="js-search-results-info">
                        <label for="organisations-accelerated-access-review" class="govuk-label govuk-checkboxes__label">Městský soud v Praze</label>
                      </li>

                      <li class="govuk-checkboxes__item">
                        <input type="checkbox" name="organisations[]" id="organisations-accelerated-access-review" value="accelerated-access-review" class="govuk-checkboxes__input" data-track-category="filterClicked" data-uncheck-track-category="filterRemoved" data-track-action="Organisation" data-track-label="Accelerated Access Review (AAR)" data-controls="js-search-results-info" aria-controls="js-search-results-info">
                        <label for="organisations-accelerated-access-review" class="govuk-label govuk-checkboxes__label">Městský soud v Praze</label>
                      </li>

                      <li class="govuk-checkboxes__item">
                        <input type="checkbox" name="organisations[]" id="organisations-accelerated-access-review" value="accelerated-access-review" class="govuk-checkboxes__input" data-track-category="filterClicked" data-uncheck-track-category="filterRemoved" data-track-action="Organisation" data-track-label="Accelerated Access Review (AAR)" data-controls="js-search-results-info" aria-controls="js-search-results-info">
                        <label for="organisations-accelerated-access-review" class="govuk-label govuk-checkboxes__label">Městský soud v Praze</label>
                      </li>
                    </ul>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>

          <div class="app-c-option-select js-collapsible js-closed">
            <button class="js-container-head app-c-option-select__title app-c-option-select__button" type="button" aria-expanded="false" id="option-select-title-organisation" aria-controls="organisations">Soudce
              <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--up">
                  <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z"></path>
              </svg>
              <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--down">
                  <path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z"></path>
              </svg>
            </button>

            <div class="app-c-option-select__filter">
              <label for="input-6e89931e" class="govuk-label govuk-visually-hidden">
                Filtrování soudců
              </label>
              <input name="option-select-filter" id="input-6e89931e" class="app-c-option-select__filter-input govuk-input" type="text" aria-describedby="checkboxes-147254d1-count" aria-controls="checkboxes-147254d1">
            </div>

            <div role="group" aria-labelledby="option-select-title-organisation" class="app-c-option-select__container js-options-container" id="organisations" tabindex="-1">
              <div class="app-c-option-select__container-inner js-auto-height-inner">
                <span id="checkboxes-147254d1-count" class="app-c-option-select__count govuk-visually-hidden" aria-live="polite" data-single="option found" data-multiple="options found" data-selected="selected"></span>

                <div id="checkboxes-147254d1" class="gem-c-checkboxes govuk-form-group" data-module="checkboxes">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Soudci</legend>
                    <ul class="govuk-checkboxes gem-c-checkboxes__list govuk-checkboxes--small">
                      <li class="govuk-checkboxes__item">
                       <input type="checkbox" name="organisations[]" id="organisations-academy-for-social-justice" value="academy-for-social-justice" class="govuk-checkboxes__input" data-track-category="filterClicked" data-uncheck-track-category="filterRemoved" data-track-action="Organisation" data-track-label="Academy for Social Justice" data-controls="js-search-results-info" aria-controls="js-search-results-info">
                        <label for="organisations-academy-for-social-justice" class="govuk-label govuk-checkboxes__label">Jan Novák</label>
                      </li>

                      <li class="govuk-checkboxes__item">
                        <input type="checkbox" name="organisations[]" id="organisations-accelerated-access-review" value="accelerated-access-review" class="govuk-checkboxes__input" data-track-category="filterClicked" data-uncheck-track-category="filterRemoved" data-track-action="Organisation" data-track-label="Accelerated Access Review (AAR)" data-controls="js-search-results-info" aria-controls="js-search-results-info">
                        <label for="organisations-accelerated-access-review" class="govuk-label govuk-checkboxes__label">Jan Novák</label>
                      </li>

                      <li class="govuk-checkboxes__item">
                        <input type="checkbox" name="organisations[]" id="organisations-accelerated-access-review" value="accelerated-access-review" class="govuk-checkboxes__input" data-track-category="filterClicked" data-uncheck-track-category="filterRemoved" data-track-action="Organisation" data-track-label="Accelerated Access Review (AAR)" data-controls="js-search-results-info" aria-controls="js-search-results-info">
                        <label for="organisations-accelerated-access-review" class="govuk-label govuk-checkboxes__label">Jan Novák</label>
                      </li>

                      <li class="govuk-checkboxes__item">
                        <input type="checkbox" name="organisations[]" id="organisations-accelerated-access-review" value="accelerated-access-review" class="govuk-checkboxes__input" data-track-category="filterClicked" data-uncheck-track-category="filterRemoved" data-track-action="Organisation" data-track-label="Accelerated Access Review (AAR)" data-controls="js-search-results-info" aria-controls="js-search-results-info">
                        <label for="organisations-accelerated-access-review" class="govuk-label govuk-checkboxes__label">Jan Novák</label>
                      </li>

                      <li class="govuk-checkboxes__item">
                        <input type="checkbox" name="organisations[]" id="organisations-accelerated-access-review" value="accelerated-access-review" class="govuk-checkboxes__input" data-track-category="filterClicked" data-uncheck-track-category="filterRemoved" data-track-action="Organisation" data-track-label="Accelerated Access Review (AAR)" data-controls="js-search-results-info" aria-controls="js-search-results-info">
                        <label for="organisations-accelerated-access-review" class="govuk-label govuk-checkboxes__label">Jan Novák</label>
                      </li>
                    </ul>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="keywords">
              Hledat text rozhodnutí, právní větu
            </label>

            <input class="govuk-input" id="keywords" name="keywords" type="text">
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Forma rozhodnutí
              </legend>
              <div class="govuk-radios govuk-radios--small">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="status-1" name="status" type="radio" value="1" checked>
                  <label class="govuk-label govuk-radios__label" for="status-1">
                    Rozsudek
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="status-2" name="status" type="radio" value="2">
                  <label class="govuk-label govuk-radios__label" for="status-2">
                    Usnesení
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Úsek soudu
              </legend>
              <div class="govuk-radios govuk-radios--small">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="status-3" name="status" type="radio" value="3" checked>
                  <label class="govuk-label govuk-radios__label" for="status-3">
                    Civilní úsek
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="status-4" name="status" type="radio" value="4">
                  <label class="govuk-label govuk-radios__label" for="status-4">
                    Trestní úsek
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          {% from "date-input/macro.njk" import govukDateInput %}

          {{ govukDateInput({
            id: "dob",
            namePrefix: "dob",
            fieldset: {
              legend: {
                text: "Datum rozhodnutí od",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "Například, 2005 nebo 21/03/2005"
            },
            items: [
              {
                name: "year",
                classes: "govuk-input--width-8",
                autocomplete: "bday-year"
              }
            ]
          }) }}

          {{ govukDateInput({
            id: "dob",
            namePrefix: "dob",
            fieldset: {
              legend: {
                text: "Datum rozhodnutí do",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "Například, 2005 nebo 21/03/2005"
            },
            items: [
              {
                name: "year",
                classes: "govuk-input--width-8",
                autocomplete: "bday-year"
              }
            ]
          }) }}

          <div class="app-c-option-select js-collapsible js-closed">
            <button class="js-container-head app-c-option-select__title app-c-option-select__button" type="button" aria-expanded="false" id="option-select-title-organisation" aria-controls="organisations">Kategorie
              <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--up">
                  <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z"></path>
              </svg>
              <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--down">
                  <path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z"></path>
              </svg>
            </button>

            <div class="app-c-option-select__filter">
              <label for="input-6e89931e" class="govuk-label govuk-visually-hidden">
                Filtrování kategorií
              </label>
              <input name="option-select-filter" id="input-6e89931e" class="app-c-option-select__filter-input govuk-input" type="text" aria-describedby="checkboxes-147254d1-count" aria-controls="checkboxes-147254d1">
            </div>
            <div role="group" aria-labelledby="option-select-title-organisation" class="app-c-option-select__container js-options-container" id="organisations" tabindex="-1">
              <div class="app-c-option-select__container-inner js-auto-height-inner">
                <span id="checkboxes-147254d1-count" class="app-c-option-select__count govuk-visually-hidden" aria-live="polite" data-single="option found" data-multiple="options found" data-selected="selected"></span>

                <div id="checkboxes-147254d1" class="gem-c-checkboxes govuk-form-group" data-module="checkboxes">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Kategorie rozhodnutí</legend>
                    <ul class="govuk-checkboxes gem-c-checkboxes__list govuk-checkboxes--small">
                      <li class="govuk-checkboxes__item">
                       <input type="checkbox" name="organisations[]" id="organisations-academy-for-social-justice" value="academy-for-social-justice" class="govuk-checkboxes__input" data-track-category="filterClicked" data-uncheck-track-category="filterRemoved" data-track-action="Organisation" data-track-label="Academy for Social Justice" data-controls="js-search-results-info" aria-controls="js-search-results-info">
                        <label for="organisations-academy-for-social-justice" class="govuk-label govuk-checkboxes__label">A</label>
                      </li>

                      <li class="govuk-checkboxes__item">
                        <input type="checkbox" name="organisations[]" id="organisations-accelerated-access-review" value="accelerated-access-review" class="govuk-checkboxes__input" data-track-category="filterClicked" data-uncheck-track-category="filterRemoved" data-track-action="Organisation" data-track-label="Accelerated Access Review (AAR)" data-controls="js-search-results-info" aria-controls="js-search-results-info">
                        <label for="organisations-accelerated-access-review" class="govuk-label govuk-checkboxes__label">B</label>
                      </li>

                      <li class="govuk-checkboxes__item">
                        <input type="checkbox" name="organisations[]" id="organisations-accelerated-access-review" value="accelerated-access-review" class="govuk-checkboxes__input" data-track-category="filterClicked" data-uncheck-track-category="filterRemoved" data-track-action="Organisation" data-track-label="Accelerated Access Review (AAR)" data-controls="js-search-results-info" aria-controls="js-search-results-info">
                        <label for="organisations-accelerated-access-review" class="govuk-label govuk-checkboxes__label">C</label>
                      </li>
                    </ul>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="hmcts-filter-layout__content">
    <div class="hmcts-action-bar">
      <div class="hmcts-action-bar__filter">
        <button class="govuk-button hmcts-button--secondary btn-apply-filter" type="button" aria-haspopup="true" aria-expanded="false">Zobrazit filtr</button>
      </div>

      <div class="">
        <h2 class="govuk-heading-s">3 000 výsledků</h2>
      </div>
    </div>

    <hr>

    <div id="js-sort-options">
      <div class="govuk-form-group">
        <label for="order" class="result-region-header__sort-label govuk-label">Seřadit podle</label>
        <select class="js-order-results govuk-select" name="order" id="order" aria-controls="js-search-results-info" data-default-sort-option="updated-newest" data-relevance-sort-option="relevance" data-module="track-select-change">
            <option value="most-viewed" selected="" data-track-category="dropDownClicked" data-track-action="clicked" data-track-label="Most viewed">Nejnavštěvovanější</option>
            <option value="updated-newest" data-track-category="dropDownClicked" data-track-action="clicked" data-track-label="Updated (newest)">Aktualizováno (nejnovější)</option>
            <option value="updated-oldest" data-track-category="dropDownClicked" data-track-action="clicked" data-track-label="Updated (oldest)">Aktualizováno (nejstarší)</option>
        </select>
      </div>
    </div>

    <div class="js-results">
      <ul class="finder-results js-finder-results">
        <li class="document"> 
          <a href="/court-desicion" class="document__link">
          Rozhodnutí ve věci XXX</a> 
          <p>Návrh na vklad vlastnického práva do katastru nemovitostí podle smlouvy, kterou nemovitosti převádí do vlastnictví jiného osoba, která ke dni návrhu na vklad není v katastru zapsána jako vlastník převáděných nemovitostí, je třeba zamítnout pro nesplnění podmínky vkladu uvedené v § 5 odst. 1 písm. a zák. č. 265/1992 Sb., neboť navrhovanému vkladu je v takovém případě na překážku stav zápisů v katastru. Doloží-li nezapsaný převodce své oprávnění s nemovitostmi nakládat, je tím sice splněna podmínka vkladu uvedená v § 5 odst. 1 písm. e cit. zák., tj. oprávnění účastníka nakládat s předmětem právního úkonu, ale nikoli podmínka uvedená v § 5 odst. 1 písm. a cit. zák.</p> 
          <dl class="document-metadata"> 
            <dt class="document-metadata__label"> Rozhodl soud: </dt> 
            <dd class="document-metadata__value"> Městský soud v Praze</dd> 
            <dt class="document-metadata__label"> Datum rozhodnutí: </dt> 
            <dd class="document-metadata__value"> 
              <time datetime="2019-07-09">9. června 2019</time> 
            </dd> 
            <dt class="document-metadata__label"> Spisová značka: </dt> 
            <dd class="document-metadata__value"> 53Cm 36/2001</dd> 
          </dl> 
        </li>

        <li class="document"> 
          <a href="/court-desicion" class="document__link">
          Rozhodnutí ve věci XXX</a> 
          <p>Návrh na vklad vlastnického práva do katastru nemovitostí podle smlouvy, kterou nemovitosti převádí do vlastnictví jiného osoba, která ke dni návrhu na vklad není v katastru zapsána jako vlastník převáděných nemovitostí, je třeba zamítnout pro nesplnění podmínky vkladu uvedené v § 5 odst. 1 písm. a zák. č. 265/1992 Sb., neboť navrhovanému vkladu je v takovém případě na překážku stav zápisů v katastru. Doloží-li nezapsaný převodce své oprávnění s nemovitostmi nakládat, je tím sice splněna podmínka vkladu uvedená v § 5 odst. 1 písm. e cit. zák., tj. oprávnění účastníka nakládat s předmětem právního úkonu, ale nikoli podmínka uvedená v § 5 odst. 1 písm. a cit. zák.</p> 
          <dl class="document-metadata"> 
            <dt class="document-metadata__label"> Rozhodl soud: </dt> 
            <dd class="document-metadata__value"> Městský soud v Praze</dd> 
            <dt class="document-metadata__label"> Datum rozhodnutí: </dt> 
            <dd class="document-metadata__value"> 
              <time datetime="2019-07-09">9. června 2019</time> 
            </dd> 
            <dt class="document-metadata__label"> Spisová značka: </dt> 
            <dd class="document-metadata__value"> 53Cm 36/2001</dd> 
          </dl> 
        </li>

        <li class="document"> 
          <a href="/court-desicion" class="document__link">
          Rozhodnutí ve věci XXX</a> 
          <p>Návrh na vklad vlastnického práva do katastru nemovitostí podle smlouvy, kterou nemovitosti převádí do vlastnictví jiného osoba, která ke dni návrhu na vklad není v katastru zapsána jako vlastník převáděných nemovitostí, je třeba zamítnout pro nesplnění podmínky vkladu uvedené v § 5 odst. 1 písm. a zák. č. 265/1992 Sb., neboť navrhovanému vkladu je v takovém případě na překážku stav zápisů v katastru. Doloží-li nezapsaný převodce své oprávnění s nemovitostmi nakládat, je tím sice splněna podmínka vkladu uvedená v § 5 odst. 1 písm. e cit. zák., tj. oprávnění účastníka nakládat s předmětem právního úkonu, ale nikoli podmínka uvedená v § 5 odst. 1 písm. a cit. zák.</p> 
          <dl class="document-metadata"> 
            <dt class="document-metadata__label"> Rozhodl soud: </dt> 
            <dd class="document-metadata__value"> Městský soud v Praze</dd> 
            <dt class="document-metadata__label"> Datum rozhodnutí: </dt> 
            <dd class="document-metadata__value"> 
              <time datetime="2019-07-09">9. června 2019</time> 
            </dd> 
            <dt class="document-metadata__label"> Spisová značka: </dt> 
            <dd class="document-metadata__value"> 53Cm 36/2001</dd> 
          </dl> 
        </li>

        <li class="document"> 
          <a href="/court-desicion" class="document__link">
          Rozhodnutí ve věci XXX</a> 
          <p>Návrh na vklad vlastnického práva do katastru nemovitostí podle smlouvy, kterou nemovitosti převádí do vlastnictví jiného osoba, která ke dni návrhu na vklad není v katastru zapsána jako vlastník převáděných nemovitostí, je třeba zamítnout pro nesplnění podmínky vkladu uvedené v § 5 odst. 1 písm. a zák. č. 265/1992 Sb., neboť navrhovanému vkladu je v takovém případě na překážku stav zápisů v katastru. Doloží-li nezapsaný převodce své oprávnění s nemovitostmi nakládat, je tím sice splněna podmínka vkladu uvedená v § 5 odst. 1 písm. e cit. zák., tj. oprávnění účastníka nakládat s předmětem právního úkonu, ale nikoli podmínka uvedená v § 5 odst. 1 písm. a cit. zák.</p> 
          <dl class="document-metadata"> 
            <dt class="document-metadata__label"> Rozhodl soud: </dt> 
            <dd class="document-metadata__value"> Městský soud v Praze</dd> 
            <dt class="document-metadata__label"> Datum rozhodnutí: </dt> 
            <dd class="document-metadata__value"> 
              <time datetime="2019-07-09">9. června 2019</time> 
            </dd> 
            <dt class="document-metadata__label"> Spisová značka: </dt> 
            <dd class="document-metadata__value"> 53Cm 36/2001</dd> 
          </dl> 
        </li>

        <li class="document"> 
          <a href="/court-desicion" class="document__link">
          Rozhodnutí ve věci XXX</a> 
          <p>Návrh na vklad vlastnického práva do katastru nemovitostí podle smlouvy, kterou nemovitosti převádí do vlastnictví jiného osoba, která ke dni návrhu na vklad není v katastru zapsána jako vlastník převáděných nemovitostí, je třeba zamítnout pro nesplnění podmínky vkladu uvedené v § 5 odst. 1 písm. a zák. č. 265/1992 Sb., neboť navrhovanému vkladu je v takovém případě na překážku stav zápisů v katastru. Doloží-li nezapsaný převodce své oprávnění s nemovitostmi nakládat, je tím sice splněna podmínka vkladu uvedená v § 5 odst. 1 písm. e cit. zák., tj. oprávnění účastníka nakládat s předmětem právního úkonu, ale nikoli podmínka uvedená v § 5 odst. 1 písm. a cit. zák.</p> 
          <dl class="document-metadata"> 
            <dt class="document-metadata__label"> Rozhodl soud: </dt> 
            <dd class="document-metadata__value"> Městský soud v Praze</dd> 
            <dt class="document-metadata__label"> Datum rozhodnutí: </dt> 
            <dd class="document-metadata__value"> 
              <time datetime="2019-07-09">9. června 2019</time> 
            </dd> 
            <dt class="document-metadata__label"> Spisová značka: </dt> 
            <dd class="document-metadata__value"> 53Cm 36/2001</dd> 
          </dl> 
        </li>
      </ul>
    </div>

    <nav class="hmcts-pagination" id="pagination-label">
      <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Navigace stránkování</p>
      <ul class="hmcts-pagination__list">
          <li class="hmcts-pagination__item  hmcts-pagination__item--prev">
              <a class="hmcts-pagination__link" href="">Předchozí<span class="govuk-visually-hidden"> sada stránek</span></a>
          </li>
          <li class="hmcts-pagination__item"><a class="hmcts-pagination__link" href="/page=1">1</a></li>
          <li class="hmcts-pagination__item hmcts-pagination__item--dots">...</li>
          <li class="hmcts-pagination__item"><a class="hmcts-pagination__link" href="/page=5">5</a></li>
          <li class="hmcts-pagination__item hmcts-pagination__item--active">6</li>
          <li class="hmcts-pagination__item"><a class="hmcts-pagination__link" href="/page=7">7</a></li>
          <li class="hmcts-pagination__item hmcts-pagination__item--dots">...</li>
          <li class="hmcts-pagination__item"><a class="hmcts-pagination__link" href="/page=10">10</a></li>
          <li class="hmcts-pagination__item  hmcts-pagination__item--next">
              <a class="hmcts-pagination__link" href="">Další<span class="govuk-visually-hidden"> sada stránek</span></a>
          </li>
      </ul>
      <p class="hmcts-pagination__results">Zobrazeno <b>10</b> až <b>20</b> ze <b>256</b> výsledků</p>
    </nav>

    <div class="app-back-to-top" data-module="app-back-to-top">
      <a href="#top">
        <svg class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
          <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
        </svg>Zpátky nahoru
      </a>
    </div>
  </div>
</div> 

{% endblock %}

{% block pageScripts %}
  {% include './script.html' %}
{% endblock %}