<script>
  let shadesEl = document.querySelector('.hmcts-filter');
  let coolButton = document.querySelector('.btn-apply-filter');

  coolButton.addEventListener('click', function () {
    shadesEl.classList.toggle('hmcts-hidden');
    document.getElementById('hmcts-filter').focus();
  });

  let closeButton = document.querySelector('.hmcts-filter__close');

  closeButton.addEventListener('click', function () {
    shadesEl.classList.toggle('hmcts-hidden');
    document.getElementById('hmcts-filter').focus();
  });
  </script>