<script>
  let mspFilterBlock = document.querySelector('.msp-filter');

  let mspFilterOpenBtn = document.querySelector('.btn-apply-filter');

  mspFilterOpenBtn.addEventListener('click', function () {
    if (mspFilterOpenBtn.innerHTML=="Zavřít filtr") mspFilterOpenBtn.innerHTML = "Zobrazit filtr";
    else mspFilterOpenBtn.innerHTML = "Zavřít filtr";
    mspFilterBlock.classList.toggle('msp-hidden');
    // document.getElementById('msp-filter').focus();
  });

  let mspFilterCloseBtn = document.querySelector('.msp-filter__close');

  mspFilterCloseBtn.addEventListener('click', function () {
    if (mspFilterOpenBtn.innerHTML=="Zavřít filtr") mspFilterOpenBtn.innerHTML = "Zobrazit filtr";
    else mspFilterOpenBtn.innerHTML = "Zavřít filtr";
    mspFilterBlock.classList.toggle('msp-hidden');
  });

  let selOrganizationBtn = document.getElementById('option-select-title-organisation');
  let selJudgeBtn = document.getElementById('option-select-title-judge');
  let selCategoryBtn = document.getElementById('option-select-title-category');

  let selectButton = document.querySelector('.app-c-option-select');

  selOrganizationBtn.addEventListener('click', function () {
    this.parentNode.classList.toggle('js-closed');
  });

  selJudgeBtn.addEventListener('click', function () {
    this.parentNode.classList.toggle('js-closed');
  });

  selCategoryBtn.addEventListener('click', function () {
    this.parentNode.classList.toggle('js-closed');
  });
  </script>